# Assignment Instruction

This is Part 1 of assignment 2. It amounts to 40 percent of the grade.

In this part of the assignment, you will scrape the list of postgraduate modules offered by the Department of Government, University of Essex. The starting url is https://www1.essex.ac.uk/modules/modules.aspx?department=GV&filter=PG&year=22&campus=CO&level=&zs=true.

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep
import re

# Get the table as DataFrame (10 percent)

- Get the webpage and convert the table there into a pandas DataFrame

In [2]:
url = 'https://www1.essex.ac.uk/modules/modules.aspx?department=GV&filter=PG&year=22&campus=CO&level=&zs=true'

In [3]:
html = urlopen(url)
bs = BeautifulSoup(html, 'html.parser')

In [46]:
df_module = pd.read_html(url)
df_module = df_module[0]

- How many modules (answer from the number of rows in the DataFrame)?

In [47]:
len(df_module)

56

- Print several rows from the dataframe

In [48]:
df_module.head()

     Module Code                                              Title Campus
0  GV508-7-SP-CO                 The Analysis of Conflict and Peace     CO
1  GV510-7-AU-CO  Democracy, Violence, and Inequality in Latin A...     CO
2  GV517-7-AU-CO                     International Security Studies     CO
3  GV517-7-FY-CO                     International Security Studies     CO
4  GV522-7-SP-CO                          Gender and Armed Conflict     CO

## Extract links

Now let's get the links in the table and construct the full url. Once a list of url is obtained, put it in the dataframe as a new column.

In [37]:
pre_url = "https://www1.essex.ac.uk/modules/"

In [49]:
df_module["link"] = [pre_url + link["href"] for link in bs.select("td a")]

In [ ]:
df_module.head()

# Visit a single page and extract the information (10 percent)

- Use the first link (https://www1.essex.ac.uk/modules/Default.aspx?coursecode=GV505&level=7&period=AU&campus=CO&year=21)
- Visit this page and extract the following information
  - Module supervisors name
  - Module supervisors email adress
  - Weight of coursework in overall assessement
  - Weight of exam in overall assessement
- Once extract the information, construct a dataframe with one row 

The dataframe should look like this:

| sup_name          | sup_email                 | Coursework | Exam |
|-------------------|---------------------------|------------|------|
| Prof Robert Johns | mailto:rajohn@essex.ac.uk | 100%       | 0%   |

# Construct a function (8 percent)

Combine the work above and construct a function to do the job. The template is below. 

Try a few urls to check if the function works as intended.

In [ ]:
def fetch_indpage(ind_url, sleep_sec = 3):
  print(ind_url)
  bs_ind = BeautifulSoup(urlopen(ind_url), 'html.parser')
  ## provide some code to extract the relevant information
  return(None)

# Use the function above and get information from all links (12 percent)

1. Use the function above and get the information from all pages
2. Then create a dataframe by concatinating the results
3. Concatinate 2. with the dataframe you created in the beginning
4. Save as a csv file

Note: There will be missing information in some pages (e.g. https://www1.essex.ac.uk/modules/Default.aspx?coursecode=GV602&level=7&period=FY&campus=CO&year=21). That might cause errors to your function. You need to modify the function to handle these errors. You may be able to use `if .. else ..`, as we saw in the class, or may need to have a proper error handling with `try: ... except: ...`. 
See https://www.w3schools.com/python/python_try_except.asp for a simple tutorial.