# Answer the following

## Create python scaler objects named `num1`, `num2`, `num3`, `str1`, `str2` whose contents are:

- 1
- 3
- 101
- "Introduction"
- "to Python"

In [ ]:
num1 = 1

In [ ]:
num2 = 3

In [ ]:
num3 = 101

In [ ]:
str1 = "Introduction"

In [ ]:
str2 = "to Python"

## Do the following calculation

```
num1 + num2
num1 / num2
str1 + str2
```

In [ ]:
num1 + num2

4

In [ ]:
num1 / num2

In [ ]:
str1 + str2

## Generate python lists of the following

- sequence of integers from 1 to 10
- sequence of letters from a to g
  - you can try `string.ascii_lowercase`

In [ ]:
list_a = list(range(1, 11))
list_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
import string
list_b = list(string.ascii_lowercase[:7])
list_b

['a', 'b', 'c', 'd', 'e', 'f', 'g']

## From the list above, estract the following:

```
[1, 2, 3, 4, 5]
[4, 5, 6]
['c', 'd', 'e']

```

In [ ]:
list_a[:6]

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a[3:6]

[4, 5, 6]

In [ ]:
list_b[2:5]

['c', 'd', 'e']

## Loop (and list comprehension)

For the list below, do the following:

1. Print each element using `for` loop
2. Calculate the sum of the elements using `for` loop
3. Print elements which are even numbers (using `%`, `for` and `if`)
  - `%` is an remainder caclulation operator
4. Create a new list with odd numbers in `list_x` 
  1. create a blank list (`new_list = []`
  2. construct a for loop
  2. append an element if even (use `list.append()`)
5. Do the same operation as **4.** with list comprehension

In [1]:
list_x = [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

### 1) Print each element using for loop

In [2]:
for i in list_x:
  print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

### 2) Calculate the sum of the elements using for loop

In [ ]:
j = 0 
for i in list_x:
  j += i
print(j)

408

### 3) Print elements which are even numbers

In [3]:
for i in list_x:
  if i % 2 == 0:
    print(i)

0
6
12
18
24
30
36
42
48

### 4) Create a new list with odd numbers in list_x

In [5]:
new_list = []
for i in list_x:
  if i % 2 != 0:
    new_list.append(i)
new_list

[3, 9, 15, 21, 27, 33, 39, 45]

### 5) Do the same operation as 4. with list comprehension

In [7]:
list_comp = [i for i in list_x if i % 2 != 0]
list_comp

[3, 9, 15, 21, 27, 33, 39, 45]

## Function: Write following functions

- a function to multiply two numbers
- a function to sum numbers in a list
- a function to find the max in a list

In [15]:
def multiply(x,y=1):
  return(x * y)

multiply(5,10)

50

In [17]:
def addition(x,y=0):
  return(x + y)

addition(5,10)

15

In [18]:
def maximum(x):
  return(max(x))

maximum(list_x)

48